.popup-delete-button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.popup-delete-button:hover {
    background-color: #d40000;
}

.popup-delete-button:disabled {
    background-color: #808080; /* Cor cinza para o estado desabilitado */
    cursor: not-allowed; /* Cursor indicando que o botão não é clicável */
    opacity: 0.6; /* Deixa o botão visualmente mais apagado */
}

.popup-close-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.popup-close-button:hover {
    background-color: #0056b3;
}
