form {
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin: 2vh auto;
    max-width: 800px;
    padding: 30px 15px;
}

span {
    width: 100%;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 550px;
}

.input-width {
    width: 100%;
}