button.p-datepicker-trigger {
    background: var(--surface-400);
    border-color: var(--surface-400);
}

button.p-datepicker-trigger:hover,
button.p-datepicker-trigger[aria-expanded="true"],
div.p-togglebutton:not(.p-disabled).p-highlight .p-button {
    background: var(--yellow-400);
    border-color: var(--yellow-400);
}

div.p-togglebutton:not(.p-disabled).p-highlight .p-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

form {
    width: 800px;
}

.p-inputnumber input {
    max-width: 100%;
}

@media(max-width: 575px) {
    body, main {
        margin: 0;
        padding: 0;
    }
}