button {
    background-color: var(--red-500);
    border-color: var(--red-400);
    margin: 0;
    min-width: 120px;
}

form {
    background-color: var(--bluegray-100);
    border-radius: 10px;
    gap: 25px;
    padding: 20px 10px;
    width: 800px;
}

label {
    font-weight: bold;
}

label, small {
    color: var(--surface-600);
    margin-left: 10px;
}

.form-buttons {
    gap: 20px;
}

.form-item {
    flex: 1;
    gap: 5px;
}

.form-item-date {
    max-width: 200px;
    flex-shrink: 0;
}

.form-row {
    gap: 20px;
}

.optionalFields {
    background-color: var(--yellow-100);
    border-radius: 0 0 5px 5px;
    padding: 1vh 1vw;
}

.optionalFields label, .optionalFields small {
    color: var(--yellow-800);
}

.p-highlight .p-button {
    background-color: var(--yellow-400);
    border-color: var(--yellow-400);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.yellow-bt {
    background-color: var(--yellow-400);
    border-color: var(--yellow-300);
}

@media(max-width: 560px) {
    form {
        width: 95vw;
    }

    .form-row {
        flex-direction: column;
    }
}