.footer {
    border: 1px solid #aaa9a9;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--background-footer);
    color: var(--footer-text-color);
}

.footerInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footerInfo div {
    margin: 10px;
    flex: 1;
}

.footerInfo h3 {
    margin-top: 0;
}

.footerInfo ul {
    list-style-type: none;
    padding: 0;
}

.footerInfo ul li {
    margin: 5px 0;
}

.footerInfo ul li a {
    color: var(--footer-text-color); 
    text-decoration: none;
}

.footerInfo ul li a:hover {
    text-decoration: underline;
}

.footerSocial a {
    color: var(---footer-text-color);
    margin: 0 10px;
    text-decoration: none;
    font-size: x-large;
}

.footerNewsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.footerNewsletter button {
    padding: 10px;
    background-color: #555; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footerNewsletter button:hover {
    background-color: #777; 
}

.footerCopyright {
    margin-top: 20px;
}
